aiodns==1.1.1
aiohttp==3.6.2
APScheduler==3.6.3
async-timeout==3.0.1
attrs==19.3.0
ccxt==1.26.43
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
idna==2.9
multidict==4.7.5
numpy==1.18.2
pandas==1.0.3
pycares==3.1.1
pycparser==2.20
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
TA-Lib==0.4.17
telepot==12.7
tzlocal==2.0.0
urllib3==1.25.8
uvloop==0.14.0
yarl==1.1.0
